---
layout: page
title: Contact
permalink: /contact/
image: '/images/PriyanPhoto2.png'
---

<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="author-profile">
          {% if page.image %}
          <div class="author-profile__avatar">
            <img class="lazy" data-src="{{ page.image }}" alt="Contact Image" class="author-avatar__img">
          </div>
          {% endif %}
          <h1 class="hero__title">{{ page.title }}</h1>
          <div class="scroll-more">
            <div class="scroll-down">
              <a href="#contact-form" class="scroll-link">
                <img src="/images/contact_arrow.png" alt="Scroll down">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end hero -->

<div id="contact-form" class="form-box">
  <div class="contact-head">
    {% if site.data.settings.contact.description %}
    <p class="form-description">{{ site.data.settings.contact.description }}</p>
    {% endif %}
  </div>
  <form class="form" action="https://formspree.io/f/xeojqjqo" method="POST">
    <div class="form__group">
      <label class="form__label screen-reader-text" for="form-name">Your Name</label>
      <input class="form__input" id="form-name" type="text" name="name" placeholder="Name..." required>
    </div>
    <div class="form__group">
      <label class="form__label screen-reader-text" for="form-email">Your Email</label>
      <input class="form__input" id="form-email" type="email" name="_replyto" placeholder="Email..." required>
    </div>
    <div class="form__group">
      <label class="form__label screen-reader-text" for="form-text">Your Message</label>
      <textarea class="form__input" id="form-text" name="text" rows="10" placeholder="Message..." required></textarea>
    </div>
    <div class="form__group">
      <button class="button button--rounded" type="submit">Send Message</button>
    </div>
  </form>
</div>

<style>
.hero__title {
  font-weight: 700;
  color: #066 !important;
}

.scroll-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.scroll-down img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.form-description {
  font-weight: 700;
}
</style>

<script>
  document.querySelectorAll('.scroll-link').forEach(anchor => {
    anchor.addEventListener('click', function(e) {
      e.preventDefault();
      document.querySelector(this.getAttribute('href')).scrollIntoView({
        behavior: 'smooth',
        block: 'start'
      });
    });
  });
</script>
