#-------------------------------
# General Site Settings
title: "Fusion Dev Blogs"
description: "A blog about tech and development."
url: "https://fusiondevblogs.com"
baseurl: ""

#-------------------------------
# Build Settings
future: true
markdown: kramdown
permalink: /:title/
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-reading-time
  - jekyll-toc
  - jekyll-syntax
paginate: 30
paginate_path: "/page/:num"

# Pages Path
defaults:
  - scope:
      path: '_pages'
    values:
      permalink: /:basename:output_ext


include:
  - _pages

sass:
  sass_dir: _sass
  style: compressed