---
layout: default
image: '/images/PriyanPhoto.png'
---

{% include hero.html %}

<style>
  /* Container holding the recent posts */
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -15px;
    margin-right: -15px;
  }

  /* Individual post container */
  .recent-post {
    box-sizing: border-box;
    padding: 15px;
  }

  /* Default for large screens (4 posts per row) */
  @media (min-width: 1200px) {
    .recent-post {
      flex: 0 0 25%; /* 25% width for 4 posts per row */
    }
  }

  /* Medium screens (3 posts per row) */
  @media (min-width: 992px) and (max-width: 1199px) {
    .recent-post {
      flex: 0 0 33.33%; /* 33.33% width for 3 posts per row */
    }
  }

  /* Small screens (2 posts per row) */
  @media (min-width: 768px) and (max-width: 991px) {
    .recent-post {
      flex: 0 0 50%; /* 50% width for 2 posts per row */
    }
  }

  /* Extra small screens (1 post per row) */
  @media (max-width: 767px) {
    .recent-post {
      flex: 0 0 100%; /* 100% width for 1 post per row */
    }
  }

  /* Article */
  .article {
    margin-bottom: 30px;
    will-change: transform;
    transition: transform .3s ease;
  }

  .article:hover {
    transform: translateY(-3px);
  }

  .article__inner {
    border-radius: 40px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    background-color: var(--background-alt-color);
  }

  .article__head {
    position: relative;
  }

  .article__image {
    position: relative;
    transform: translate(0);
    display: block;
    aspect-ratio: 3/2;
    border-radius: 24px 24px 0 0;
    overflow: hidden;
    background: var(--background-color);
  }

  .article__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
  }

  @supports not (aspect-ratio: 3/2) {
    .article__image {
      padding-bottom: 56.25%;
    }
  }

  .video-icon {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--brand-color);
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 40px 30px rgba(0, 0, 0, 0.07);
    pointer-events: none;
    transition: all .3s;
  }

  .video-icon .circle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    transform: scale(1, 1);
    opacity: .5;
    background-color: var(--brand-color);
    animation: pulse 2s infinite;
  }

  .video-icon svg {
    width: 44px;
    fill: var(--white);
    stroke: var(--white);
    stroke-linejoin: round;
    stroke-width: 8;
  }

  .article__content {
    padding: 25px;
  }

  .article__meta {
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 1;
    color: var(--heading-font-color);
  }

  .article__author__link {
    text-decoration: underline;
    text-decoration-color: transparent;
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
    transition: all .2s;
  }

  .article__author__link:hover {
    text-decoration-color: var(--link-color);
  }

  .article__title {
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 1.4;
  }

  .article__title a {
    text-decoration: underline;
    text-decoration-color: transparent;
    text-underline-offset: 3px;
    text-decoration-thickness: 1.2px;
    transition: all .2s;
  }

  .article__title a:hover {
    color: var(--heading-font-color);
    text-decoration-color: var(--heading-font-color);
  }

  .article__excerpt {
    display: none;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.4;
    overflow-y: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: var(--text-alt-color);
  }

  .article__tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: -6px;
  }

  .article__tag {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 6px 12px;
    margin-right: 6px;
    margin-bottom: 6px;
    font-size: 12px;
    line-height: 1.3;
    font-weight: 500;
    text-transform: capitalize;
    border-radius: 40px;
    transition: all .2s;
    background-color: var(--background-alt-color-2);
  }

  .article__tag:hover {
    color: var(--white);
    background-color: var(--brand-color);
  }

  .article__tag:last-child {
    margin-right: 0;
  }
</style>

<div id="previous-posts" class="container animate">
  {% if page.url == "/" %}
  <div class="section__head">
    <h3 class="section__title">Recent Posts</h3>
  </div>
  {% endif %}
  <div class="row">
    {% if site.posts.size > 0 %}
      {% for post in paginator.posts %}
        <div class="recent-post">
          {% include article.html %}
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>

{% include pagination.html %}
