---
layout: default
image: '/images/PriyanPhoto.png'
---

{% include hero.html %}
 
<div id="previous-posts" class="container animate">
  {% if page.url == "/" %}
  <div class="section__head">
    <h3 class="section__title">Recent Posts</h3>
  </div>
  {% endif %}
  <div class="row">
    {% if site.posts.size > 0 %}
      {% for post in paginator.posts %}
        {% include article.html %}
      {% endfor %}
    {% endif %}
  </div>
</div>

{% include pagination.html %}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BR39WDXB3T"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-BR39WDXB3T');
</script>